body {
  background-color: #ddd;
}

.face {
  width: 100px;
  min-height: 75px;
  padding: 20px 0 10px 0;
  border-radius: 50% 50% 60% 60%;
  background-color: #FFEBC7;
  margin: 0 auto;
}

.eyes {
  width: 70px;
  margin: 0 auto;
}

.eye {
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 8px;
  border: 4px solid white;
  background-color: black;
}

.eyebrows {
  width: 60px;
  height: 10px;
  margin: 0 auto;
  padding-top: 20px;
}

.eyebrow {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 5px;
  border-radius: 30%;
  margin: 0 4px;
  background-image: url('./assets/eyebrow-03.png')
}

.eyebrow-right {
  margin-left: 35px;
  background-image: url('./assets/eyebrow-04.png')
}

.mouthContainer {
  /*height: 30px;*/
  width: 50px;
  margin: auto;
}

.lips {
  background-color: #D04054;
  padding: 2px 1px 4px 1px;
}
